<div class="container">

  <div class="text-center text-danger">
  <%= alert %>
  </div>

<!--見出し-->
  <div class="row">
    <div class="mx-auto">
      <h1><%= @quest.title %></h1>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto mb-5 rounded-lg bg-white p-3">
      <h3>引越予定日：<%= l @quest.due_day %></h3>
    </div>
  </div>


  <div class="row">
<!--左サイド空欄-->
    <div class="col-lg-1 col-md-1"></div>

<!--タスク一覧-->
    <div class="col-lg-5 col-md-5 col-sm-12 mb-5 ">
      <h4>タスク一覧</h4>
        <div class="border rounded-lg bg-white px-4 py-2">
          <div class="mt-3 ml-4">
            <p>すぐ始めよう！</p>
              <div class="ml-3">
                <% @quest_task_1.each do |quest_task| %>
                  <li><%= link_to quest_task.task.title, complete_task_path(quest_task), class:"text-dark" %>
                    <% if quest_task.is_clear == true %>
                    <span class="text-primary">CLEAR!!</span></li>
                    <% end %>
                <% end %>
              </div>
          </div>

          <div class="mt-3 ml-4">
            <p class="border-top">３０日前頃から始めよう！</p>
              <div class="ml-3">
                <% @quest_task_2.each do |quest_task| %>
                  <li><%= link_to quest_task.task.title, complete_task_path(quest_task), class:"text-dark" %>
                    <% if quest_task.is_clear == true %>
                    <span class="text-primary">CLEAR!!</span></li>
                    <% end %>
                <% end %>
              </div>
          </div>

          <div class="mt-3 ml-4">
            <p class="border-top">１４日前頃から始めよう！</p>
              <div class="ml-3">
              <% @quest_task_3.each do |quest_task| %>
                <li><%= link_to quest_task.task.title, complete_task_path(quest_task), class:"text-dark" %>
                  <% if quest_task.is_clear == true %>
                  <span class="text-primary">CLEAR!!</span></li>
                <% end %>
              <% end %>
              </div>
          </div>

          <div class="mt-3 ml-4">
            <p class="border-top">当日</p>
              <div class="ml-3">
              <% @quest_task_4.each do |quest_task| %>
                <li><%= link_to quest_task.task.title, complete_task_path(quest_task), class:"text-dark" %>
                  <% if quest_task.is_clear == true %>
                  <span class="text-primary">CLEAR!!</span></li>
                  <% end %>
              <% end %>
              </div>
          </div>

          <div class="mt-3 ml-4">
            <p class="border-top">翌日から１４日後までにやろう！</p>
              <div class="ml-3">
              <% @quest_task_5.each do |quest_task| %>
                <li><%= link_to quest_task.task.title, complete_task_path(quest_task), class:"text-dark" %>
                  <% if quest_task.is_clear == true %>
                  <span class="text-primary">CLEAR!!</span></li>
                  <% end %>
              <% end %>
              </div>
          </div>
        </div>
    </div>

<!--カレンダー-->
    <div class="col-lg-6 col-md-6 col-sm-12">
       <%= month_calendar events: @quest_tasks do |date, quest_tasks| %>
        <%= date.day %>
        <% quest_tasks.each do |quest_task| %>
            <%= quest_task.task.name %>
        <% end %>
      <% end %>
     </div>

  </div>

<!--削除ボタン-->
    <div class="text-center">
    <%= link_to "クエストを削除する", quest_path(@quest),method: :delete, data: { confirm: "本当にこのクエストを削除しますか？"}, class:"btn btn-sm btn-danger mt-3" %>
    </div>
  </div>

</div>