<div class="container" >

 <!--見出し-->
  <div class ="row" >
    <div class="mx-auto mb-5">
      <h2><%= current_user.name %>さん、ようこそ転勤クエストへ！</h2>
    </div>
  </div>

   <div class ="row" >
     <div class="mx-auto text-center rouded-lg bg-white px-3">
      <p>おめでとう！<br />
         あなたは今、新たな生活への第一歩を踏み出した。<br />
         引越しの準備には、簡単なものから厄介なものまである。<br />
         下記の質問に答えたら、転勤クエストの始まりだ！</p>
     </div>
   </div>

   <div class ="row" >
     <div class="mx-auto mt-4">
      <h4>以下の質問に答えてください。</h4>
     </div>
   </div>

<!--エラーメッセージ-->
  <div class="row">
    <div class="mx-auto text-danger">
      <% flash.each do |message_type, message| %>
        <div class="rouded-lg bg-white p-2">
          <% message2 = message.gsub(",","<br>") %>
          <%= message2.html_safe %>
        </div>
      <% end %>
    </div>
  </div>

<!--質問一覧-->
  <div class ="row">
    <div class="mx-auto col-lg-5 col-md-5">
      <%= form_with model: @quest, url: quests_path, local:true do |f| %>
      <div class="my-4 border rounded-lg bg-white px-5 py-2">

         <div>
            <p>質問１:引越し予定日は...？</p>
            <%= f.date_field :due_day,class:"ml-5" %>
         </div>

         <div>
            <p class="border-top mt-2">質問２:現在住んでいるところは...？</p>
            <div class="ml-5">
            <select name="quest[start_pref]" id="start-pref"><option value="">都道府県を選択してください</option></select><br>
            <select name="quest[start_city]" id="start-city"><option value="">市区町村を選択してください</option></select>
            </div>
         </div>

         <div>
            <p class="border-top mt-2">質問３:引っ越し先は...？</p>
            <div class="ml-5">
            <select name="quest[goal_pref]" id="goal-pref"><option value="">都道府県を選択してください</option></select><br>
            <select name="quest[goal_city]" id="goal-city"><option value="">市区町村を選択してください</option></select>
            </div>
         </div>

         <div>
            <p class="border-top mt-2">質問４：住んでる家は...?</p>
            <div class="ml-5">
            <%= f.radio_button :question_4, 1, checked: true %><%= f.label :question_4_1, "賃貸" %><br>
            <%= f.radio_button :question_4, 2 %><%= f.label :question_4_2, "実家" %>
            </div>
         </div>

         <div>
            <p class="border-top mt-2">質問５：免許は...?</p>
            <div class="ml-5">
            <%= f.radio_button :question_5, 1, checked: true %><%= f.label :question_5_1, "持ってる" %><br>
            <%= f.radio_button :question_5, 2 %><%= f.label :question_5_2, "持ってない" %>
            </div>
         </div>

         <div>
            <p class="border-top mt-2">質問６：車は...?</p>
            <div class="ml-5">
            <%= f.radio_button :question_6, 1, checked: true %><%= f.label :question_6_1, "持ってる" %><br>
            <%= f.radio_button :question_6, 2 %><%= f.label :question_6_2, "持ってない" %>
            </div>
         </div>

         <div>
            <p class="border-top mt-2">質問7：バイクは...?</p>
            <div class="ml-5">
            <%= f.radio_button :question_7, 1, checked: true %><%= f.label :question_7_1, "持ってる" %><br>
            <%= f.radio_button :question_7, 2 %><%= f.label :question_7_2, "持ってない" %>
            </div>
         </div>

         <div>
            <p class="border-top mt-2">質問８：子供いる?一緒に引っ越す...?</p>
            <div class="ml-5">
            <%= f.radio_button :question_8, 1, checked: true %><%= f.label :question_8_1, "一緒" %><br>
            <%= f.radio_button :question_8, 2 %><%= f.label :question_8_2, "自分だけ" %>
            </div>
         </div>

         <div>
            <p class="border-top mt-2">質問９：インターネット契約は...?</p>
            <div class="ml-5">
            <%= f.radio_button :question_9, 1, checked: true %><%= f.label :question_9_1, "してる" %><br>
            <%= f.radio_button :question_9, 2 %><%= f.label :question_9_2, "してない" %>
            </div>
         </div>

         <div>
            <p class="border-top mt-2">質問１０：固定電話は...?</p>
            <div class="ml-5">
            <%= f.radio_button :question_10, 1, checked: true %><%= f.label :question_10_1, "ある" %><br>
            <%= f.radio_button :question_10, 2 %><%= f.label :question_10_2, "ない" %>
            </div>
         </div>

         <div>
            <p class="border-top mt-2">質問１１：新聞とってる...?</p>
            <div class="ml-5">
            <%= f.radio_button :question_11, 1, checked: true %><%= f.label :question_11_1, "とってる" %><br>
            <%= f.radio_button :question_11, 2 %><%= f.label :question_11_2, "とってない" %>
            </div>
         </div>

         <%= f.hidden_field :user_id, :value => current_user.id %>
         <%= f.hidden_field :is_clear, :value => 0 %>

         <div class="text-center">
         <%= f.submit "内容を保存", data: { confirm: 'この内容で保存しますか？'}, class:"btn btn-sm btn-success mt-4" %>
         </div>

      </div>
      <% end %>

    </div>
  </div>

</div>