<h1><%= @quest.title %></h1>

  <table>
    <tr>
      <th>引越し予定日</th>
      <td><%= @quest.due_day %></td>
    </tr>
    <tr>
      <th>目的地</th>
      <td><%= @quest.goal_pref %> <%= @quest.goal_city %></td>
    </tr>
    <tr>
      <th>タスク一覧</th>
      <td>
        <p>〜すぐやろう！〜</p>
          <% @quest_task_1.each do |quest_task| %>
          <%= link_to quest_task.task.title, quest_task_path(quest_task) %>
            <% if quest_task.is_clear == true %>
              <p>達成！</p>
            <% end %><br />
          <% end %>
        
        <p>〜３０日前頃からやろう！〜</p>
          <% @quest_task_2.each do |quest_task| %>
          <%= link_to quest_task.task.title, quest_task_path(quest_task) %>
            <% if quest_task.is_clear == true %>
              <p>達成！</p>
            <% end %><br />
          <% end %>
          
        <p>〜１４日前頃からやろう！〜</p>
          <% @quest_task_3.each do |quest_task| %>
          <%= link_to quest_task.task.title, quest_task_path(quest_task) %>
            <% if quest_task.is_clear == true %>
              <p>達成！</p>
            <% end %><br />
          <% end %> 
          
        <p>〜当日〜</p>
          <% @quest_task_4.each do |quest_task| %>
          <%= link_to quest_task.task.title, quest_task_path(quest_task) %>
            <% if quest_task.is_clear == true %>
              <p>達成！</p>
            <% end %><br />
          <% end %>
          
        <p>〜翌日から１４日後までにやろう！〜</p>
          <% @quest_task_5.each do |quest_task| %>
          <%= link_to quest_task.task.title, quest_task_path(quest_task) %>
            <% if quest_task.is_clear == true %>
              <p>達成！</p>
            <% end %><br />
          <% end %>
      </td>
    </tr>
  </table>


<% if @quest_task.count  == @quest_task.where(is_clear: true).count %>
   <p>すべてのタスクを達成しましたか？</p>
    <%= form_with model: @quest, url: clear_path(@quest), local: true do |f| %>
      <%= f.check_box :is_clear %>
      <%= f.submit "すべてのタスクを達成した！" %>
    <% end %>
 <% end %>


<!--カレンダー-->
 <%= month_calendar events: @quest_tasks do |date, quest_tasks| %>
  <%= date.day %>

  <% quest_tasks.each do |quest_task| %>
      <%= quest_task.task.name %>
  <% end %>

<% end %>


