<h1><%= @quest.title %></h1>

  <table>
    <tr>
      <th>引越し予定日</th>
      <td><%= @quest.due_day %></td>
    </tr>
    <tr>
      <th>目的地</th>
      <td><%= @quest.goal_pref %> <%= @quest.goal_city %></td>
    </tr>
    <tr>
      <th>タスク一覧</th>
      <td>
      <% @quest_task.each do |quest_task| %>
      <%= link_to quest_task.task.title, quest_task_path(quest_task) %>
        <% if quest_task.is_clear == true %>
          <p>達成！</p>
        <% end %><br />
      <% end %>
      </td>
    </tr>
  </table>

  <%= link_to "クエスト内容を編集する", edit_quest_path(@quest) %>


<% if @quest_tasks.count  == @quest_tasks.where(is_clear: true).count %>
   <p>すべてのタスクを達成しましたか？</p>
    <%= form_with model: @quest, url: clear_path(@quest), local: true do |f| %>
      <%= f.check_box :is_clear %>
      <%= f.submit "すべてのタスクを達成した！" %>
    <% end %>
 <% end %>


<!--カレンダー-->
 <%= month_calendar events: @quest_tasks do |date, quest_tasks| %>
  <%= date.day %>

  <% quest_tasks.each do |quest_task| %>
      <%= quest_task.task.title %>
  <% end %>

<% end %>


