<div class="container">

<!--見出し-->
  <div class="row">
    <div class="mx-auto mb-3">
      <h1><%= @quest_task.task.title %></h1>
    </div>
  </div>

<!--タスク内容-->
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 mx-auto rounded-lg bg-white p-4" >
        <% if @quest_task.quest.start_pref == @quest_task.quest.goal_pref and @quest_task.quest.start_city == @quest_task.quest.goal_city %>
          <%= simple_format(@quest_task.task.body_b) %>    <!--同じ市区町村へ引っ越す場合-->
        <% else %>
          <%= simple_format(@quest_task.task.body_a) %>    <!--違う市区町村へ引っ越す場合-->
        <% end %>
    </div>
  </div>

<!--クリアボタン-->
  <div class="row flex-column">

    <% if @quest_task.is_clear == true %>
    <div class="text-center text-primary mt-4">
      <p><%= l @quest_task.updated_at, format: :short %>達成！</p>
    </div>
    <% end %>

    <div class="mx-auto my-4">
        <%= form_with model: @quest_task,url: quest_task_path(@quest_task), local: true do |f| %>
          <%= f.check_box :is_clear %>
          <%= f.label :is_clear, "達成したらチェックを入れてください。" %>
          <div class="text-center">
          <%= f.submit "達成状況を保存", class:"btn btn-sm btn-success" %>
          </div>
        <% end %>
    </div>
    <div class="text-center">
      <%= link_to "戻る", quest_path(@quest),class:"text-dark" %>
    </div>
  </div>



</div>