<div class="container">

<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
  <% if notifications.exists? %>

  <div class="col-lg-6 col-md-10 mx-auto border rounded-lg bg-white p-5">
      <% @notification.each do |notif| %>
        <span><strong><%= notif.visitor.name %></strong><%= 'さんが' %></span>

        <% if notif.board.user_id == current_user.id %>
          <%= link_to "あなたの投稿", board_path(notif.board), style: "font-weight: bold;" %>
        <% else %>
          <span><strong><%= link_to notif.board.user.name + 'さんの投稿', board_path(notif.board)%></strong></span>
        <% end %>
          <%= "にコメントしました。"%>

          <p class="small text-muted">
            <%= Comment.find_by(id: notif.comment_id)&.comment.truncate(25) %></p>

        <div class="small text-muted text-right ml-4">
          <%= time_ago_in_words(notif.created_at).upcase %>
        </div>

        <div class="border mt-1"></div>
    <% end %>
  </div>

  <% else %>
    <div class="text-center">
      <p>通知はありません</p>
    </div>
  <% end %>

</div>