<div class="container" >
  
<div class="text-danger">
<%= notice %>
</div>

<!--見出し-->
  <div class ="row" >
    <div class="mx-auto mb-5">
      <h1><%= link_to users_path do %>
          <%= attachment_image_tag @user, :image, :fill, 90, 90, format: 'jpeg', fallback: "no_image.jpg", class: "rounded-circle border" %>
          <% end %>
          <%= @user.name %>の冒険</h1>
    </div>
  </div>

<!--左サイド空欄-->
  <div class ="row" >
    <div class="col-lg-5 col-md-5 col-sm-12">


    <div class="border rounded-lg bg-white px-3 pb-3">
<!--進行中クエスト-->
      <div class="mt-2">
        <h3>進行中クエスト</h3>
         <div class="ml-4">
          <% if @quest. present? %>
            <%= link_to @quest.date_title, quest_path(@quest), class:"text-dark" %>
          <% else %>
            <%= link_to "クエストを登録する", new_quest_path,class:"text-dark" %>
          <% end %>
         </div>
      </div>
      
<!--過去クエスト-->
      <div class="mt-4">
        <h3 class="border-top">達成済クエスト</h3>
          <% if @quests. blank? %>
            <p class="ml-4">ありません</p>
          <% else %>
            <div class="ml-4">
            <% @quests.each do |quest| %>
              <%= link_to quest.date_title, complete_quest_path(quest), class:"text-dark" %><br>
            <% end %>
            </div>
          <% end %>
      </div>

<!--ユーザーの掲示板-->
      <div class="mt-4">
        <h3 class="border-top">あなたの掲示板</h3>
          <% if @boards.blank? %>
            <p class="ml-4">ありません</p>
          <% else %>
           <div class="ml-4">
            <% @boards.each do |board| %>
              <%= link_to board.title.truncate(20), board_path(board), class:"text-dark" %>
              <span>(<%= board.comments.count %>)</span><br/>
            <% end %>
           </div>
          <% end %>
      </div>
      
      <div class="ml-4 mt-2 small">
      <%= paginate @boards, theme: 'bootstrap-5' %>
      </div>

    </div>
  
  </div>

<!--カレンダー-->
    <div class="col-lg-7 col-md-7 col-sm-12">

      <% if @quest.blank? %>
        <%= month_calendar do |date| %>
          <%= date.day %>
        <% end %>
      <% else %>
        <%= month_calendar events: @quest_tasks do |date, quest_tasks| %>
          <%= date.day %>
          <% quest_tasks.each do |quest_task| %>
            <br><%= quest_task.task.name %>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>