<div class="container">
  <div class="row">
    <div class="mx-auto my-4">

      <h2 class="text-center">新規登録</h2>

      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
        <div class="rounded-lg bg-white px-5 py-3 my-3">
          <%= render "users/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :name,"ニックネーム" %><br />
            <%= f.text_field :name, autofocus: true, id:"nickname" %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>字以上)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </div>

        <div class="text-center">
          <%= f.submit "新規登録",class:"btn btn-sm btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
